<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Modal</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/new_modal.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery-3.5.1.min.js"></script>
	<script src="../public/js/popper.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/bootstrap-datepicker.min.js"></script>
	<script src="../public/js/bootstrap-datepicker.vi.min.js"></script>
</head>
<body>

<div class="toast_site shadow">
	<div class="toast_icon bg_site_bug">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
			<path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
			<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
		</svg>
	</div>
	<div class="p-3">
		<p class="text-center">Lỗi trong quá trình lưu Hợp đồng.</p>
	</div>
	<div class="toast_footer bg_site_bug">
		<div class="footer_arrow"></div>
	</div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.toast_site').fadeOut(350);
        }, 3000);
    });
</script>
</body>
</html>