<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Modal</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/new_modal.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery-3.5.1.min.js"></script>
	<script src="../public/js/popper.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script src="../public/js/bootstrap-datepicker.min.js"></script>
	<script src="../public/js/bootstrap-datepicker.vi.min.js"></script>
</head>
<body>

<div class="toast_site shadow">
	<div class="toast_icon bg_site_bug">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
			<path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
		</svg>
	</div>
	<div class="p-3">
		<p class="text-center">Mã xác thực không hợp lệ hoặc đã hết hạn.</p>
	</div>
	<div class="toast_footer bg_site_bug">
		<div class="footer_arrow"></div>
	</div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.toast_site').fadeOut(350);
        }, 3000);
    });
</script>
</body>
</html>