<div style="font-family:'Helvetica Neue','Helvetica','PingFang TC','Microsoft JhengHei','Heiti TC','Arial','sans-serif'!important;">
    <table style=" border-radius: 16px;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td>
                <table width="100%" style="padding: 9px 16px; border-radius: 0 0 15px 15px; line-height: 1.3">
                    <tr>
                        <td align="center" style="color: #333; font-size: 13px">
                            <table style="margin: 0" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tr>
                                    <td style="border-top: 1px dashed #6aaad8; font-size: 1px"></td>
                                </tr>
                            </table>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="padding: 10px 16px; color: #353535; font-weight:400;font-size:15px;line-height:1.3;">
                                <tr>
                                    <td style="max-width: 85px; border-right: 3px solid #6aaad8;" >
                                        <a href="https://google.com.vn" style="display:inline-block; padding: 12px 6px 12px 0" title="">
                                            <img height="85" src="https://webhot.top/temp/mcontract-text.png" alt="" title="">
                                        </a>
                                    </td>
                                    <td style="padding-left: 20px">
                                        <table>
                                            <tr>
                                                <td>
                                                <h1 style="color: #0d7aca; font-size: 20px; font-weight:600 ; margin: 7px 0 5px; letter-spacing:1.1">HỖ TRỢ KHÁCH HÀNG</h1>
                                                <p style="font-size: 14px; color: #444; margin: 5px 0 3px;">CÔNG TY TNHH DỊCH VỤ CÔNG NGHỆ TRỰC TUYẾN</p>
                                                </td>
                                            </tr>
                                            <tr>
                                            <td style="border-top: 1px solid #6aaad8; font-size: 1px"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; color: #888">98 Nguyễn Công Trứ, phường Nguyễn Thái Bình, quận 1, thành phố Hồ Chí Minh</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; color: #888">https://www.mcontract.vn</td>
                                            </tr>
                                            <table>
                                            <tr>
                                                <td style="max-width: 25px;padding-right: 15px" >
                                                    <a href="tel:0867746979" style="display:inline-block; padding: 12px 6px 12px 0" title="">
                                                        <img height="25" src="https://webhot.top/temp/phone.png" alt="" title="">
                                                    </a>
                                                </td>
                                                <td style="max-width: 25px;padding-right: 15px" >
                                                    <a href="https://www.facebook.com/inspiron.vn" style="display:inline-block; padding: 12px 6px 12px 0" title="">
                                                        <img height="25" src="https://webhot.top/temp/facebook.png" alt="" title="">
                                                    </a>
                                                </td>
                                                <td style="max-width: 25px;padding-right: 15px" >
                                                    <a href="https://google.com.vn" style="display:inline-block; padding: 12px 6px 12px 0" title="">
                                                        <img height="25" src="https://webhot.top/temp/skype.png" alt="" title="">
                                                    </a>
                                                </td>
                                                <td style="max-width: 25px;padding-right: 15px" >
                                                    <a href="https://google.com.vn" style="display:inline-block; padding: 12px 6px 12px 0" title="">
                                                        <img height="25" src="https://webhot.top/temp/zalo.png" alt="" title="">
                                                    </a>
                                                </td>
                                                <td style="max-width: 25px;padding-right: 15px" >
                                                    <a href="https://google.com.vn" style="display:inline-block; padding: 12px 6px 12px 0" title="">
                                                        <img height="25" src="https://webhot.top/temp/youtube.png" alt="" title="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="border-radius: 15px" align="center">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td bgcolor="#0182de" style="font-size: 0">
                                        <p style="height: 5px; background: linear-gradient(to right, #00b3e3, #0062da);">&emsp;</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>