<aside class="menu">
    <a href="./create-contract.html" class="btn btn-yellow btn-create-new">
        <i class="icontract-new"></i>
        Tạo mới
    </a>
    <ul class="menu-list">
        <li class="active">
            <a>
                <i class="icontract-docs"></i>
                Hợp đồng
            </a>
        </li>
        <li class="active">
            <a>
                <i class="icontract-briefcase"></i>
                Hợp đồng đã ký
            </a>
        </li>
    </ul>
    <p class="menu-label">
        Xem nhanh
    </p>
    <ul class="menu-list">
        <li>
            <a><i class="icontract-action"></i>
                Cần ký
            </a>
        </li>
        <li>
            <a>
                <i class="icontract-waiting"></i>
                Đang chờ
            </a>
        </li>
        <li>
            <a>
                <i class="icontract-complete"></i>
                Đã hoàn thành
            </a>
        </li>
    </ul>
</aside>