body {
    background-color: #808080;
    margin: 0;
    padding: 0;
  }
  #viewerContainer {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .pdfFixedDiv{
   position: fixed;
   bottom: 10px;
   left: 40%;
  }
  button {
        background-color: #7C9DD6;
        border: none;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 60%;
  }
  input {
      padding: 7px;
      text-align: center;
      text-decoration: none;
      font-size: 50%;
      width: 8%;
  }
  button:hover {
      cursor: pointer;
  }