.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-login-inner {
        width: 600px;
        height: 220px;
        text-align: center;
        transform: translateY(-40px);

        h1 {
            font-weight: 900;
            font-size: 50px;
        }

        h5 {
            font-size: 14px;
            color: #aaa;
            font-weight: normal;
            margin-bottom: 40px;
        }

        .btn-login-google {
            height: 40px;

            img {
                margin-left: 10px;
                height: 100%;
            }
        }
    }
}