{% extends 'dashboard.html' %}

{% block items %}
<div class="items">
    <div class="item">
        <div class="item-info">
            <div class="item-info-title">
                <a href="./review-contract.html">
                    Hợp đồng doanh nghiệp
                </a>
            </div>
            <div class="item-info-to">To: Phạm Hữu Thạnh Đạt</div>
        </div>
        <div class="item-status">
            <div class="current">
                Đợi ký
            </div>
            <div class="last-change">
                Lần thay đổi cuối 20/05/2020 | 11:48:05 am
            </div>
        </div>

        <div class="item-action">
            <div class="dropdown">
                <button class="btn btn-light-2" type="button">
                    Thao tác
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./images/hopdong.pdf" download>Tải xuống</a>
                    <a class="dropdown-item" href="#">Chuyển tiếp</a>
                    <a class="dropdown-item" href="#">Tạo một bản sao</a>
                    <a class="dropdown-item" href="#">Xoá</a>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item-info">
            <div class="item-info-title">
                <a href="./review-contract.html">
                    Hợp đồng doanh nghiệp
                </a>
            </div>
            <div class="item-info-to">To: Phạm Hữu Thạnh Đạt</div>
        </div>
        <div class="item-status">
            <div class="current">
                Hoàn thành
            </div>
            <div class="last-change">
                Lần thay đổi cuối 20/05/2020 | 11:48:05 am
            </div>
        </div>
        <div class="item-action">
            <div class="dropdown">
                <button class="btn btn-light-2" type="button">
                    Thao tác
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="./images/hopdong.pdf" download>Tải xuống</a>
                    <a class="dropdown-item" href="#">Chuyển tiếp</a>
                    <a class="dropdown-item" href="#">Tạo một bản sao</a>
                    <a class="dropdown-item" href="#">Xoá</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}