<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tạo hợp đồng - Bước 1</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../public/css/newctr_steps.css" rel="stylesheet" type="text/css" />
	<script src="../public/js/jquery-3.5.1.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcontractModal">
	Bước 1
</button>

<!-- New Contract Modal -->
<div class="modal fade" id="newcontractModal" tabindex="-1" aria-labelledby="newcontractModalLabel" aria-hidden="true">
	<div class="modal-dialog modal_full m-0 my-sm-0 mx-sm-auto">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="new_contract">
					<div class="row new_contract_header mx-0">
						<div class="close_btn"><a href="#" data-dismiss="modal">&times;</a></div>

						<div class="col-auto d-none d-lg-block">
							<img class="img-fluid py-3 py-lg-3 pl-3 pl-lg-3 pr-0" src="../public/images/logo.webp" alt="">
						</div>

						<div class="col">
							<h1 class="m-3 text-uppercase text-center">Tạo hợp đồng</h1>

							<div class="mb-3 large_steps sw sw-theme-arrows sw-justified">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link inactive active" href="#step-1">
											<b>Bước 1</b>
											<p class="m-0">Tải lên hợp đồng</p>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link inactive" href="#step-2">
											<b>Bước 2</b>
											<p class="m-0">Chọn đối tác</p>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link inactive" href="#step-3">
											<b>Bước 3</b>
											<p class="m-0">Thiết kế hợp đồng</p>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link inactive text-center" href="#step-4">
											<b>Bước 4</b>
											<p class="m-0">Hoàn tất và gửi</p>
										</a>
									</li>
								</ul>
							</div>

							<div class="small_steps">
								<div class="progress">
									<div class="progress-bar w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<h3>Bước 1: Tải lên hợp đồng</h3>
							</div>
						</div>
					</div>

					<div class="new_contract_body">
						<div class="ncbody_wrap m-3 my-4 m-md-5 text-center">
							<div class="top_border"></div>

							<div class="nc_body_content">
								<!-- Different content between steps (Step 1) -->
								<div class="mb-3 mb-sm-4 mt-4 mt-sm-5">
									<svg style="font-size: 95px; color: #2c62d6" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
										<path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
										<path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 7.707V11.5a.5.5 0 0 0 .5.5z"/>
									</svg>
								</div>
								<h4 style="font-style: italic;" class="font-weight-normal px-3 mb-4 mb-sm-5">Kéo thả hoặc bấm vào đây để tải lên hợp đồng của bạn<br>(.doc, .docx, .pdf)</h4>
								<!-- End Different content between steps -->
							</div>

							<div class="lefttop_corner"></div>
							<div class="leftbottom_corner"></div>
							<div class="righttop_corner"></div>
							<div class="rightbottom_corner"></div>
						</div>
					</div>

					<div class="row new_contract_footer py-2 mx-auto">
						<div class="col-md-auto col-lg text-center text-md-right">HỖ TRỢ KỸ THUẬT</div>
						<div class="col-md col-lg text-center">Email: <a href="mailto:supportmcontract@gmail.com">supportmcontract@gmail.com</a></div>
						<div class="col-md-auto col-lg text-center text-md-left">Hotline: <a href="tel:19001111">19001111</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>